{% extends 'email/_layout.html.twig' %}

{% block cta_url %}{{ confirmUrl }}{% endblock %}
{% block cta_label %}Confirm my email{% endblock %}
{% block subject %}Confirm notifications for {{ eventName }}{% endblock %}
{% block heading %}Confirm notifications for {{ eventName }}{% endblock %}
{% block content %}
    <p style="margin:0 0 12px 0; font-size:16px; line-height:1.5;">Hi,</p>
    <p style="margin:0; font-size:16px; line-height:1.5;">You asked to be notified when photos from <strong>{{ eventName }}</strong> are live. Confirm within 7 days:</p>
{% endblock %}
{% block footer %}
    Didn't request this? Ignore this email, or <a href="{{ unsubscribeUrl }}" style="color:#71717a;">unsubscribe</a>.
{% endblock %}
